.spotDetails {
  max-width: 1000px;
  margin-bottom: 50px;
}

.spotDetailsFooter {
  display: flex;
  justify-content: space-between;
}

.spotDesc {
  width: 300px;
  word-wrap: break-word;
}

.spotDetailsReserveBox {
  border: 2px solid gray;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: fit-content;
}

.reserveBoxTop {
  display: flex;
  justify-content: space-between;
}

.reserveBtn {
  background-color: red;
  width: 100%;
  margin-top: 10px;
}

.reserveBtn:hover {
  cursor: pointer;
}

.spotDetailsReviews {
  margin-top: 10px;
}

.review {
  margin-top: 5px;
}

.postReviewBtn {
  color: white;
  background-color: gray;
}

.postReviewBtn:hover {
  cursor: pointer;
}
