.confirmDel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.redBtn {
  background-color: red;
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
  color: white;
}

.greyBtn {
  background-color: darkgray;
  height: 35px;
  width: 100%;
  color: white;
}
