.reviewModal {
  padding: 10px;
}

.reviewModal>h2 {
  display: flex;
  justify-content: center;
}

.reviewTextArea {
  border: 2px solid black;
  background-color: #e8f0fe;
  width: 100%;
  height: 100px;
}

/* Star Rating */
.starsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.stars {
  margin: 10px 0;
  width: fit-content;
}

.stars i:hover~i {
  color: #222;
}

.stars:hover i {
  color: #fc0;
}

.lit {
  color: #fc0
}

.revStar:hover {
  cursor: pointer;
}

/* Submit Button */
.submitReviewBtn {
  border: 2px solid black;
  background-color: #fc4758;
  box-shadow: black 2px 2px;
  color: white;
  width: 100%;
  height: 35px;
}

.disabled {
  border: 2px solid grey;
  background-color: white;
  box-shadow: gray 2px 2px;
  color: gray;
}
