.allSpots {
  /* border: 3px solid gray; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 20px;
}

.spot {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-self: center;
}

.spot:hover {
  cursor: pointer;
}
