.createASpot {
  display: flex;
  justify-content: center;
}

.currSpot {
  display: flex;
  justify-content: center;
}

.all-spots {
  display: flex;
  justify-content: center;
}

.manageSpots {
  display: flex;
  justify-content: center;
}
