@media screen and (max-width: 460px) {
  .header {
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  min-width: 265px;
  padding: 10px;
  align-items: center;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fc4758;
  font-size: 25px;
}

.header-right {
  display: flex;
  flex-direction: row;
}

.newSpotDiv {
  width: 150px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-right: 10px;
  box-sizing: border-box;
}

.newSpotDiv:hover {
  cursor: pointer;
  border: 1px solid gray;
  background-color: #f0f0f0;
}

.newSpotDiv:focus {
  border: 1px solid gray;
  background-color: gainsboro;
}

.hidden {
  display: none;
}

.fab {
  width: fit-content;
  font-size: 35px;
}
