.userMenu {
  display: flex;
  flex-direction: column;
}

.manageSpots {
  margin: 5px 0;
}

.manageSpots:hover {
  cursor: pointer;
  background-color: lightgray;
}

.logoutBtn {
  margin-top: 5px;
}
