.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginForm>button {
  border: 2px solid black;
  background-color: #fc4758;
  color: white;
  height: 40px;
  box-shadow: black 2px 2px;
}

.loginForm>input {
  margin-bottom: 10px;
  border: 2px solid black;
  background-color: #e8f0fe;
}


.login-header {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 10px;
}

.demoLogin {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.demoLogin>div:hover {
  cursor: pointer;
}

.err {
  margin-top: 5px;
  color: red;
}
